@model BugTracker.Models.TicketAttachment

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Remove Attachment?</h4>
</div>

@using (Html.BeginForm("Delete", "TicketAttachments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="modal-body">
        <p>Do you really want to remove this attachment?</p>
        <p>@Model.Title</p>

    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id ="approve-btn" class="btn btn-primary">Confirm Removal</button>
                </div>
}

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#deleteModal').modal('hide');
        });
    });
</script>


