@model BugTracker.Models.TicketAttachment

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Not Authorized</h4>
</div>

@using (Html.BeginForm("Delete", "TicketAttachments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="modal-body">
        <h3>You are not authorized to delete this attachment</h3>

        @Model.Title
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
    </div>
}

